* {
	box-sizing: border-box;
    }
    /*------------------page wrapper start----------------------*/
body {
	text-transform: capitalize;
	background-repeat: no-repeat;
    }

.clearfix::after {
    content: "";
    clear: both;
    display: block;
    }
	/*------------------header section start----------------------*/
.header-banner{
	max-width: 100%;
	position: relative;
	background-image: url(background_image.jpg);
	}	 
.navbar{
	margin:30px;
	padding: 30px;
	display: flex;
	align-items: center;
	font-size: 1.5vw;
	width: 90%;
}

.logo{
	float:left;
	margin-left: 50px;
    }
	
nav {
	 flex: 1;
     text-align: right;
     }

nav ul{
	display: inline-block;
	list-style-type: none;
	}

nav ul li{
	display: inline-block;
	margin-right: 10px;
	}

nav li {
     float: left; 
	 text-align: center;
	 padding: 10px;
	 }
	 
a{
     text-decoration: none;
	 }

nav li a:hover {
	border-bottom: 1px solid white;
	background-color: transparent;
	display: inline-block;
	transition: all 0.9s ease;
     }
    /*------------------header section end----------------------*/

	/*------------------banner section start----------------------*/
.banner_section {
	margin: 50px;
	}
	
.banner_section h2 {
     padding: 8px;
     color: white;
     font-size: 2.5vw;
	 margin: 10px;
    }

.banner_section h1 {
     color: white;
     font-size: 4.8vw;
	 padding: 10px;
    }
	
.btn {
     display: inline-block;
     font-size: 1.5vw;
     background-color: #288ce1;
     border-radius: 30px;
	 line-height: 50px;
	 padding: 8px 30px;
	 transition: background 0.5s;
    }
	
.btn:hover{
	transition: all 0.5s ease;
    background-color: transparent;
    border: 1px solid white;
	}
	
.btn a {
    text-decoration: none;
	display: inline-block;
	color:white;
   }
.arrow-wrap{
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
}

.arrow {
	background-color: #288ce1;
	border-radius: 40px;
	font-size: 3vw;
	color:white;
	cursor: pointer;
	display: inline-block;
    padding: 2px 9px;
	}
	/*------------------banner section end----------------------*/	
		/*------------------content start----------------------*/
.all-content{
	margin: 10px;
}
.content {
    color: #288ce1;
	text-align: center;
	margin: 25px;
	padding: 30px;
	line-height: 1.8;
	}
	
.content h4{
	color: black;
	font-size: 2vw;
	font-family: verdana;
    }

.h4-strong-subheading{
    padding: 10px;
    margin: 15px;
    }

.wait-payment{
	margin: 18px;
    padding: 37px;
	display: flex;
	justify-content: space-between;
	text-align: center;
    }

.wait {
	padding: 30px;
	line-height: 1.3;
    width: 35%;
	margin-left: 30px;
    }

.wait h2 {
	color: black;
	line-height: 1.9;
	padding: 10px;
	margin: 10px;
    }
.wait h3{
	margin: 10px;
	border-top: 2px solid black;
}
.payment{
	padding: 30px;
	line-height: 1.3;
    width: 35%;
	margin-right: 30px;
	}

.payment h2{
	color: black;
	line-height: 1.9;
	padding: 10px;
	margin: 10px;
    }
.payment h3{
	margin: 10px;
	border-top: 2px solid black;
}
			/*------------------content end----------------------*/			
		    /*------------------how to work section start----------------------*/
.working{
	padding: 20px;
	margin: 13px;
	font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    }
.working h1{
    color: #288ce1;
	text-align: center;
	font-size: 5vw;
	padding: 10px;
    margin: 10px;
    }
.phone-download{
	display: flex;
	justify-content: space-between;
	margin: 20px;
    padding: 20px;
}
.mobile_phone {
	float: left;
    padding: 10px;
	margin-left: 20px;
    }
.mobile_phone img{
	max-width: 80%;
}
.download_order_pay {
	float: right;
    width: 47%;
	text-align: justify;
	line-height: 1.3;
    }
	
.download h2 {
	color: #288ce1;
	font-size: 2vw;
	margin: 20px;
    }
	
.download h3{
	font-size: 1.4vw;
	margin: 10px;
    padding: 10px;
    }

.order_pay h2 {
	color: #288ce1;
	font-size: 2vw;
	margin: 20px;
    }
	
.order_pay h3{
	font-size: 1.4vw;
	margin: 10px;
    padding: 10px;
    }
	
.relax_enjoy h2 {
	color: #288ce1;
	font-size: 2vw;
	margin: 20px;
    }

.relax_enjoy h3{
	font-size: 1.4vw;
	margin: 10px;
    padding: 10px;
    }	
         /*------------------how to work section end----------------------*/		 
		   /*------------------venue owners start----------------------*/
.owners{
	margin: 20px;
	padding: 20px;
    }
	
.owners h1 {
	color: #288ce1;
	text-align: center;
	font-size: 4.5vw;
    }
	
.owners h2 {
	text-align: center;
	font-size: 1.5vw;
	margin:10px;
	padding: 10px;
    }
.experience-image{
	padding: 5px;
	margin: 5px;
	border-bottom: 1px solid #288ce1;
}
.img-join{
	display: inline-block;
	text-align: center;
	margin-top: 10px;
	}
.leftimg img{
	max-width: 80%;
	}
.join_out {
	background-color: #288ce1;
    transition: all 0.5s ease;
	border-radius: 28px;
    display: inline-block;
	text-transform: uppercase;
	padding:10px 30px;
	margin: 20px;
    }

.join_out a{
	color: white;
	text-decoration:none;
    }

.join_out:hover {
	border: 1px solid  #288ce1;
	background-color: transparent;
    }

.join_out a:hover{
	color: #288ce1;
}
.experience {
	width: 35%;
	float: right;
	display: inline-block;
    }

.experience h3 {
	padding: 5px;
	margin: 5px;
	text-align: justify;
	line-height: 1.6;
	display: inline-block;
	font-size: 1.2vw;
    }
	    /*------------------venue owners end----------------------*/
		
	    /*------------------contact us form start----------------------*/

.contact-section{
	}
.contact-section h1{
	font-size: 4vw;
	color: #288ce1;
	padding: 20px;
	margin: 20px;
	text-align: center;
}
.contact-section form{
    width: 60%;
	margin: 0 auto;
}
.fname input[type=text] {
    width: 50%;
    padding: 10px;
    border: 1px solid black;
    float: left;
    background: #fff;
    font-size: 1.3vw;
    outline: none;
    border-radius: 10px;
}
.lname input[type=text] {
    width: 50%;
    padding: 10px;
    border: 1px solid black;
    float: left;
    background: #fff;
    font-size: 1.3vw;
    outline: none;
    border-radius: 10px;
}
.email input[type=text] {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    float: left;
    background: #fff;
    font-size: 1.3vw;
    outline: none;
    border-radius: 10px;
}

.message input[type=text] {
    width: 100%;
    padding: 5px 0px 60px 10px;
    border: 1px solid black;
    float: left;
    background: #fff;
    font-size: 1.3vw;
    outline: none;
    border-radius: 10px;
}
.button button[type=submit] {
	background-color: #288ce1;
	border-radius: 28px;
    display: inline-block;
	padding:10px 30px;
	margin: 20px;
    outline: none;
	border: none;
    }
button:hover{
	cursor: pointer;
	color: #fff;
}
    /*------------------contact us form start----------------------*/
		
.footer {
	background-color: #288ce1;
	color:white;
	max-width: 100%;
    }

.footer img{
	padding: 20px;
    }
.footer h2{
	float:right;
	padding: 20px;
    }
		   /*------------------page wrapper end----------------------*/
/*--------------media query-------------------*/
@media only screen  (min-width 740px) and (max-width: 1700px) /*--for tablets--*/ {
	.wait-payment{
		width: 100%;
	}
	.wait{
		width: 50%;
	}
	.payment{
		width: 50%;
	}
}	
@media only screen and (min-width: 400px) and (max-width: 740px)  /*--for mobile phones--*/{
	nav ul{
		font-size: 20px;
		width: 50%;
	}
}