* {
	box-sizing: border-box;
    }	
body{
	text-transform: capitalize;
    }
.clearfix::after {
    content: "";
    clear: both;
    display: table;
    }
.wrapper{
    border: 3px solid red;
    }
.banner-section{
    background-image: url(seeds-season.jpg);
    border: 3px solid yellow;
    }
.background{
    display: flex;
    padding: 20px;
    background-color: green;
    border: 2px solid white;
    }
.seeds-logo img{
    width:60px;
    float: left;
    border: 2px solid white;
    }
.navigation{
    border: 2px solid red;
    }
nav{
    }
ul{
    list-style-type: none;
    }
li{
    float: left;
	padding: 15px;
    }
li a{
	color: white;
	text-decoration: none;
    }
li:hover {
    border-bottom: 1px solid white;
	transition: all 0.5s ease;
	background-color: black;
    }
.call img{
     width:20px;
     border: 2px solid white;
     }		 
.call img:hover{
     }
.full-bg{
    font-size: 18px;
    color: white;
    width: 50%;
    border: 2px solid blue;
    padding: 20px;
    margin: 20px;
    }
.full-bg h2{

}
.full-bg h1{

}
.discover{
    background-color: green;
    cursor: pointer;
    border-radius:35px;
    padding: 17px;
    display: inline-block;
    }
.discover a{
    text-decoration:none;
    color: white;
    }	
.discover:hover{
    background-color: red;
    }
.detail {
	color: white;
	margin: 5px 0px 30px 0px;
    padding: 30px 0px 80px 0px;
    border: 2px solid green;
    }   
    /*----------------------cover-------------------*/
.all-cover {
    background-color:#d4e4c5;
	margin: 10px;
    padding: 10px;
    border: 2px solid blue;
    display: flex;
    }	
.seeds{
    padding: 10px;
	margin: 10px;
    width: 50%;
    text-align: center;
    align-self: center;
    border: 2px solid green;
    }
.brief-about{
    width: 50%;
    padding: 10px;
	margin: 10px;
    border: 2px solid green;
}
.brief{
    color: green;
    font-size: 14px;
    padding: 10px;
	margin: 10px;
    letter-spacing: 0.2em;
	line-height: 5px;
    border: 2px solid blue;
	}
.about{
    border: 2px solid blue;
    padding: 10px;
	margin: 10px;
    line-height: 0px;

    }
.full-brief{
    text-align: justify;
    border: 2px solid blue;
    padding: 10px;
	margin: 10px;
    }
.more{
    color: white;
    background-color: green;
    cursor: pointer;
    border-radius: 35px;
    padding: 0px 10px;
    margin: 10px;
    border: 2px solid blue;
    width: 25%;
    }
.more:hover{
    background-color: black;
    }		

    /*-----------------------------------*/
.strength{
    width: 100%;
    border: 2px solid green;
    }
.choose{
    color: green;
    text-align: center;
    border: 2px solid skyblue;
    }
.product{
    border: 2x solid red;
    display: flex;
}
.all-product{
    border: 2px solid blue;
    width: 25%;
    text-align: center;
}
.best{
    border: 2px solid yellow;
}
.quality{
    border: 2px solid rgb(236, 143, 158);
    color: grey;
    padding: 5px;
    margin: 5px;
    text-align: justify;
}
    /*---------------------------*/
.about-seeds{
    color:green;
	border: 2px solid red;
	height: 200px;
	width: 200px;
    }	
.about-seeds1 {
    width: 10%;
    font-size: 5px;
    } 
.about-seeds1 img{
    height:70px;
    width:123px;
    }	
.about-seeds1:hover{
    width: 250px;
    height: 180px;
    font-size: 13px;
    }	
.about-seeds1 img:hover{
    width: 250px;
    height: 150px;
    }